@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#tictactoe {
	height: 100vh;
}

.github * {
	font-family: "Noto Sans", serif;
}

.github {
	scale: 70%;
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.github a {
	text-decoration: none;
	width: fit-content;
}

.github p {
	margin-top: 0.8rem;
	color: black;
	text-align: center;
	font-size: 1.2rem;
	width: 100%;
	font-weight: 600;
}

.github a div:hover {
	filter: brightness(80%);
}

.github a div {
	font-weight: 600;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	text-align: center;
	padding: 1.2rem;
	font-size: 2rem;
	border-radius: 1rem;
	width: fit-content;
}

.github i {
	font-size: 180%;
	margin-right: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Signika Negative", sans-serif;

	--def-color: gainsboro;
	--X-color: rgb(239, 110, 110);
	--O-color: rgb(113, 113, 198);
	--win-color: rgb(82, 195, 96);

	--button-font-size: 4rem;
}

html {
	background: linear-gradient(rgb(255, 199, 132), bisque);
	background-attachment: fixed;
}

#content {
	width: 50rem;
	margin: auto;
	margin-top: 1rem;
	background: white;
	padding: 1rem;
	border-radius: 1rem;

	text-align: center;
}

header h1 {
	font-size: 3rem;
}

#game {
	margin: auto;
	width: 50%;
}

#buttons {
	z-index: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 1rem auto;
	background: black;
	gap: 0.35rem;
	border: 0.1rem solid black;
}

#buttons button {
	color: white;
	background: var(--default-color);
	text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
	aspect-ratio: 1/1;
	border: none;
	border-radius: 0%;
	font-size: 0rem;
}

button:hover {
	filter: brightness(85%);
}

#buttons button:active {
	filter: brightness(60%);
}

.display {
	color: aliceblue;
	width: 10rem;
	border-radius: 5rem;
	text-align: center;
	margin: auto;
	text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
	background: rgb(82, 195, 96);
	box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}

.display-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 15rem;
	padding: 0.5rem;
	border-radius: 1rem;
}

#result {
	display: flex;
	background: rgb(255, 255, 255);
	margin-top: 20rem;
}

#result .display {
	border: rem solid black;
}

#result-container {
	z-index: 1;
	height: 100vh;
	width: 100vw;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;

	background: rgba(0, 0, 0, 0.2);
}

#OK {
	background-color: rgb(175, 175, 175);
	color: white;
	text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
	padding: 0.25rem 1rem;
	margin: auto;
	border: none;
	font-size: large;
	font-weight: bold;
	border-radius: 1rem;
	box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
	margin-top: 0.5rem;
}

#OK:active {
	transform: translateX(0.15rem) translateY(0.15rem);

	box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

#player-text {
	margin-top: 0.5rem;
	font-size: 2rem;
	font-weight: 700;
}

#player .display {
	font-size: 5rem;
	border-radius: 100%;
	aspect-ratio: 1/1;
	width: auto;
}

@media screen and (max-width: 576px) {
	* {
		--button-font-size: 6rem;
	}
	#content {
		width: 100vw;
		margin-top: 0%;
		border-radius: 0rem 0rem 1rem 1rem;
	}
	#game {
		width: 80%;
	}
	header h1 {
		font-size: 3rem;
	}
	.display-container {
		scale: 110%;
		border-radius: 2rem;
		padding: 1rem;
	}
	.display {
		width: 80%;
		margin-bottom: 1rem;
	}
	#buttons {
		width: 100%;
		gap: 0.25rem;
	}
	#buttons button {
		text-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
	}
	#OK {
		font-size: 2rem;
		border-radius: 3rem;
		padding: 0.5rem 1rem;
	}
	#player .display {
		font-size: 4rem;
	}
	#player-text {
		font-size: 2rem;
		font-weight: 600;
	}
	#result-container {
	}
}
